/** Tables */

.grid {
	display: grid;
}

.grid .grid-row {
	display: grid;
	grid-template-columns: 50fr 350fr 200fr 200fr 200fr 150fr 100fr;
	/* grid-column-gap: 15px; */
}

.grid .grid-head .grid-col {
	text-align: center;
	font-weight: bold;
	color: #000;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.grid .grid-head .grid-col {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid .grid-head .grid-col[data-disabled="true"],
.grid .grid-head .grid-col[data-orderable=""],
.grid .grid-head .grid-col[data-orderable="false"] {
	cursor: text !important;
}

.grid .grid-row .grid-col {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0px 15px;
	height: 50px;
	line-height: 50px;
}

.grid .grid-row .grid-col[data-orderable="false"].center-align {
	width: 100%;
	display: block;
}

.grid .grid-row .grid-col:not(:first-child) {
	text-overflow: ellipsis;
}

.grid.bordered .grid-row {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--grey-accent-3);
	/* margin: -2px 0px -1px; */
}

/* .grid.bordered .grid-row,
.grid.bordered .grid-col {
	border-color: var(--grey-accent-2);
}

.grid.bordered .grid-row .grid-col {
	border-width: 1px;
	border-style: solid;
	margin: 0px 0px 0 0px;
	border-left: none;
	border-right: none;
} */

.grid .grid-body .grid-row {
	transition: 500ms;
}

.grid .grid-body .grid-row:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.grid .grid-body .grid-row.selected {
	background-color: rgba(0, 0, 0, 0.08);
}

.grid .grid-body .grid-row .grid-col {
	cursor: pointer;
}

.grid.bordered .grid-body .grid-row:last-child {
	border-bottom: none;
}

.grid .grid-col:first-child {
	text-align: center;
}

.grid .grid-col:first-child label {
	width: 20px;
	height: 50px;
}

.grid .grid-col:first-child label span {
	height: 15px;
}

.grid .grid-col:hover {
	max-width: 150%;
	white-space: nowrap;
}

.grid .grid-row.no-results {
	padding: inherit;
	grid-template-columns: 100%;
}

.grid .grid-row.no-results .grid-col,
.grid .grid-row.no-results:hover {
	cursor: text;
	background-color: transparent;
}

.sort {
	height: 10px;
	width: 2px;
	background: #757575;
	position: relative;
	border-radius: 3px;
	opacity: 0;
	transform: translateY(10px);
	transition: transform 500ms;
	margin-left: 10px !important;
}

.sort:before,
.sort:after {
	content: '';
	position: absolute;
	background: inherit;
	width: 6px;
	height: 2px;
	border-radius: inherit;
}

.sort:before {
	top: 2px;
	right: 0px;
	transform: rotate(-45deg);
}

.sort:after {
	top: 2px;
	left: 0px;
	transform: rotate(45deg);
}

[data-order="asc"] .sort,
[data-order="desc"] .sort {
	opacity: 1;
	margin: 0 10px;
	transition-delay: 200ms;
}

[data-order="asc"] .sort {
	transform: rotateX(0deg) translateY(0px);
}

[data-order="desc"] .sort {
	transform: rotateX(180deg) translateY(0px);
}

.grid-col:not([data-orderable="false"]):not([data-order]):hover .sort {
	opacity: 1;
	transform: translateY(0px);
	transition: 500ms;
	background: #aaaaaa;
}

/*
.grid .grid-head .grid-col:not([data-orderable="false"]):before,
.grid .grid-head .grid-col:not([data-orderable="false"]):after {
	content: '';
	position: absolute;
	right: 10px;
	width: 10px;
	height: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--blue-accent-1);
	overflow: hidden;
	transform: translateY(0px);
	transition: 200ms;
	opacity: 0.35;
}

.grid .grid-head .grid-col:not([data-orderable="false"]):before {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	top: calc(50% - 12px);
}

.grid .grid-head .grid-col:not([data-orderable="false"]):after {
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	bottom: calc(50% - 12px);
}

.grid .grid-head .grid-col[data-order="asc"]:not([data-orderable="false"]):before {
	border-bottom-color: var(--blue-darken-3);
	transform: translateY(0px);
	opacity: 1;
}

.grid .grid-head .grid-col[data-order="desc"]:not([data-orderable="false"]):after {
	border-top-color: var(--blue-darken-3);
	transform: translateY(0px);
	opacity: 1;
} */

/** End tables **/
