* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	overflow-x: hidden;
	overflow-y: scroll;
}

p {
	margin: 15px 0 !important;
}

a {
	color: var(--teal);
	text-decoration: none;
	font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit
}

h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0
}

h2 {
	font-size: 3.56rem;
	line-height: 110%;
	margin: 1.78rem 0 1.424rem 0
}

h3 {
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0
}

h4 {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.14rem 0 .912rem 0
}

h5 {
	font-size: 1.64rem;
	line-height: 110%;
	margin: .82rem 0 .656rem 0
}

h6 {
	font-size: 1rem;
	line-height: 110%;
	margin: .5rem 0 .4rem 0
}

ul {
	list-style: none;
}

.bg-opacity-1::after {
	content: '';
	background: #fff;
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	z-index: -1;
}

.bold {
	font-weight: 700;
}

.progress {
	position: fixed;
	top: 0;
	margin: 0;
	background: var(--teal-lighten-2);
	height: 3px;
	z-index: 999999;
}

.progress .indeterminate {
	background: var(--teal-darken-2) !important;
}

#loading {
	display: none !important;
}

.border-bottom {
	border-bottom: 1px solid var(--grey-lighten-3);
}

.select-wrapper .dropdown-content {
	max-height: 150px;
}

.dropdown-content {
	min-width: 180px;
}

.dropdown-content li {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	min-height: 50px;
	line-height: 1.5rem;
	width: 100%;
	text-align: left;
}

.dropdown-content li>a,
.dropdown-content li>span,
.dropdown-content li>button {
	font-size: 16px;
	line-height: 22px;
	display: block;
	padding: 14px 16px;
	color: #000;
}

.dropdown-content li>a>i {
	width: 24px;
	margin: 0 12px 0 0;
}

.navbar #profile-dropdown {
	width: auto !important;
}

.navbar #profile-dropdown li#user-profile span {
	display: block;
}

.navbar #profile-dropdown li#user-profile {
	width: 260px;
}

.navbar #profile-dropdown li a i {
	margin-right: 10px;
	height: 25px;
	display: block;
}

.navbar #profile-dropdown li#user-profile span.funcao {
	color: var(--grey);
	font-size: 12px;
}

/** Header And Menu **/

header {
	position: relative;
	width: 100%;
	z-index: 999;
	height: 150px;
}

header .nav-fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

/** BreadCrumbs */

.breadcrumb-container {
	background-color: #ccc;
	height: auto;
	line-height: normal;
	padding: 5px 2%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 56px;
}

.breadcrumb-container i.material-icons {
	height: auto;
}

.breadcrumb {
	color: var(--teal-darken-3);

}

span.breadcrumb {
	color: var(--grey-lighten-3) !important
}

/** Nav Header Search */

.input-field.search label {
	z-index: 9;
	top: 2px;
	left: 14px;
}

.input-field.search label.active {
	width: auto;
	height: auto;
	padding: 0;
	transform: scale(0.7) translateY(-0.1rem) translateX(-0px);
	opacity: 1;
}

.input-field.search label.active:after {
	content: "";
	position: absolute;
	height: 0.5rem;
	width: 100%;
	left: 0;
	top: 0.4rem;
	z-index: -1;
	background-color: #ffffff;
}

.input-field.search input {
	border-radius: 4px !important;
	padding: 0 15px !important;
	/* left: -20px; */
	position: relative;
	/* border: 2px solid #ffffff !important; */
}

.input-field.search input:focus {
	/* border: 2px solid var(--teal) !important */
	background-image: none !important;
	/* background-image: linear-gradient(var(--red), var(--blue)), linear-gradient(#d9d9d9, #d9d9d9) !important; */
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper:not(.browser-default) input.select-dropdown:focus,
.select-wrapper:not(.browser-default) input.select-dropdown:focus.ql-container:not([readonly]),
.chips.focus:not([readonly]),
.input-field:not(.browser-default):focus .ql-container:not([readonly]) {
	background-image: linear-gradient(var(--blue), var(--blue)), linear-gradient(#d9d9d9, #d9d9d9);
}

/** Tabs */

.tabs {
	background-color: transparent;
}

.tabs .tab {
	background-color: transparent !important;
}

.tabs .tab a {
	font-weight: 700;
	font-size: 16px;
	color: var(--teal-lighten-2);
}

.tabs .tab a.active,
.tabs .tab a:hover {
	color: var(--teal);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
	background-color: var(--grey-lighten-5);
}

.tabs .indicator {
	background-color: var(--teal);
}

/** Ticket Mail Body */

.mail-body .navbar .datetime {
	width: auto !important;
}
